# 1.여름방학 쿠글 스터디 1주차(~p38)

In [52]:
import pandas as pd

# 시리즈

(1)딕셔너리->시리즈

In [5]:
dict_data={'a':1,'b':2,'c':3}  #딕셔너리 생성
sr=pd.Series(dict_data)  #시리즈로 변환

print(type(sr))
print(sr)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
dtype: int64

(2)리스트 -> 시리즈

In [6]:
list_data=['2019-01-02',3.14,'ABC',100,True]  #리스트 생성
sr=pd.Series(list_data)  #시리즈로 변환

print(sr)  #인덱스 이름이 정수로 지정

idx=sr.index  #sr의 인덱스
val=sr.values  #sr의 데이터값
print(idx)
print(val)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object
RangeIndex(start=0, stop=5, step=1)
['2019-01-02' 3.14 'ABC' 100 True]

(3)튜플 -> 시리즈

In [7]:
tup_data=('영인','2010-05-01','여',True)  #튜플 생성
sr=pd.Series(tup_data, index=['이름','생년월일','성별','학생여부'])  #시리즈로 변환, 인덱스 이름 저장
print(sr)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

(4)시리즈 원소선택

In [8]:
print(sr[0])
print(sr['이름'])
print(sr[[1,2]])
print(sr[['생년월일','성별']])
print(sr[1:2])  #인덱스 2 포함 X
print(sr['생년월일':'성별'])  #성별 인덱스 포함 O

영인
영인
생년월일    2010-05-01
성별               여
dtype: object
생년월일    2010-05-01
성별               여
dtype: object
생년월일    2010-05-01
dtype: object
생년월일    2010-05-01
성별               여
dtype: object

# 데이터프레임

(1)딕셔너리 -> 데이터프레임

In [9]:
dict_data={'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}  #딕셔너리 생성, key는 열 이름
df=pd.DataFrame(dict_data)  #df로 변환
print(type(df))
print(df)  #리스트가 열로 변환됨

<class 'pandas.core.frame.DataFrame'>
   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

(2) 행 인덱스/ 열 이름 설정

In [10]:
df=pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],
               index=['준서','예은'],
               columns=['나이','성별','학교'])

print(df)  #리스트가 행으로 변환됨
print(df.index)
print(df.columns)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중
Index(['준서', '예은'], dtype='object')
Index(['나이', '성별', '학교'], dtype='object')

In [11]:
#행 인덱스, 열 이름 변경
df.index=['학생1','학생2']
df.columns=['연령','남녀','소속']
print(df)

df.rename(columns={'나이':'연령','성별':'남녀','학교':'소속'}, inplace=True)
df.rename(index={'준서':'학생1','예은':'학생2'},inplace=True)
print(df)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중
     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

(3)행,열 삭제

In [12]:
exam_data={'수학':[90,80,70],'영어':[98,89,95],
          '음악':[85,95,100],'체육':[100,90,90]}
df=pd.DataFrame(exam_data,index=['서준','우현','인아'])
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [13]:
df2=df[:]  #df2에 df복제하여 저장
df2.drop('우현',inplace=True)  #행 삭제
print(df2)

df3=df[:]
df3.drop(['우현','인아'],axis=0,inplace=True)  #행 삭제
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90
    수학  영어  음악   체육
서준  90  98  85  100

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [14]:
df4=df[:]
df4.drop('수학',axis=1,inplace=True)  #열 삭제
print(df4)

df5=df[:]
df5.drop(['영어','음악'],axis=1,inplace=True)  #열 삭제
print(df5)

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90
    수학   체육
서준  90  100
우현  80   90
인아  70   90

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

(4)행,열 선택

In [15]:
#행 선택
label1=df.loc['서준']  #인덱스 이름 사용
position1=df.iloc[0]  #정수형 위치 사용
print(label1)
print(position1)

label2=df.loc[['서준','우현']]
position2=df.iloc[[0,1]]
print(label2)
print(position2)

label3=df.loc['서준':'우현']  #우현 포함
position3=df.iloc[0:1]  #1 미포함
print(label3)
print(position3)

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64
수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64
    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90
    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90
    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90
    수학  영어  음악   체육
서준  90  98  85  100

In [21]:
#열 선택
math1=df['수학']  #시리즈로 출력
print(math1)
print(type(math1))
english=df['영어']
print(english)
print(type(english))

music_gym=df[['음악','체육']]  #데이터프레임으로 출력
print(music_gym)
print(type(music_gym))
math2=df[['수학']]
print(math2)
print(type(math2))

서준    90
우현    80
인아    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>
서준    98
우현    89
인아    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>
     음악   체육
서준   85  100
우현   95   90
인아  100   90
<class 'pandas.core.frame.DataFrame'>
    수학
서준  90
우현  80
인아  70
<class 'pandas.core.frame.DataFrame'>

In [26]:
#슬라이싱
df.iloc[ : :2]  #0행부터 2행 간격으로
df.iloc[0:3:2]  #0행부터 2행까지 2행간격으로
df.iloc[ : :-1]  #역순 인덱싱

    수학  영어   음악   체육
인아  70  95  100   90
우현  80  89   95   90
서준  90  98   85  100

(5)원소 선택

In [38]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)

df.set_index('이름',inplace=True)
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [34]:
a=df.loc['서준','음악']
print(a)
b=df.iloc[0,2]
print(b)

c=df.loc['서준',['음악','체육']]
print(c)
d=df.iloc[0,[2,3]]
print(d)

e=df.loc['서준','음악':'체육']
print(e)
f=df.iloc[0,2:]
print(f)

85
85
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

In [36]:
g=df.loc[['서준','우현'],['음악','체육']]
print(g)
h=df.iloc[[0,1],[2,3]]
print(h)
i=df.loc['서준':'우현','음악':'체육']
print(i)
j=df.iloc[0:2,2:]
print(j)

    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90

(6)행,열 추가

In [39]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [40]:
#열 추가
df['국어']=80
print(df)

   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

In [41]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [42]:
#행 추가
df.loc[3]=0
print(df)

df.loc[4]=['동규',90,80,70,60]
print(df)

df.loc['행5']=df.loc[3]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60
    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0

(7)원소 값 변경

In [44]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)
df.set_index('이름',inplace=True)
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [48]:
df.iloc[0][3]=80
print(df)
df.loc['서준']['체육']=90
print(df)
df.loc['서준','체육']=100
print(df)

    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90
    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90
    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [49]:
df.loc['서준',['음악','체육']]=50
print(df)
df.loc['서준',['음악','체육']]=100,50
print(df)

    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90
    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

(8)행,열 위치 바꾸기

In [50]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [51]:
df=df.transpose()  #한번 전치
print(df)
 
df=df.T  #다시 전치(원래대로)
print(df)

      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90
   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90