# 인덱스 활용

(1)열->행 인덱스

In [3]:
import pandas as pd
import numpy as np

In [4]:
exam_data={'이름':['서준','우현','인아'],
           '수학':[90,80,70],
           '영어':[98,89,95],
           '음악':[85,95,100],
           '체육':[100,90,90]}
df=pd.DataFrame(exam_data)
print(df)

ndf=df.set_index(['이름'])  #'이름' 열을 행 인덱스로 변환
print(ndf)

ndf2=ndf.set_index(['음악'])
print(ndf2)

ndf3=ndf.set_index(['수학','음악'])
print(ndf3)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
     수학  영어   체육
음악
85   90  98  100
95   80  89   90
100  70  95   90
        영어   체육
수학 음악
90 85   98  100
80 95   89   90
70 100  95   90

(2)행 인덱스 재배열

In [5]:
dict_data={'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

df=pd.DataFrame(dict_data, index=['r0','r1','r2'])
print(df)

new_index=['r0','r1','r2','r3','r4']  #인덱스 재지정
ndf=df.reindex(new_index)
print(ndf)  #'r3','r4' 인덱스는 nan 상태

ndf2=df.reindex(new_index, fill_value=0)  #nan값 대신 0 입력
print(ndf2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN
    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

(3) 행 인덱스 초기화

In [6]:
ndf=df.reset_index()  #행 인덱스를 정수형으로 초기화/ 기존 인덱스는 열로 이동
print(ndf)

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

(4) 행 인덱스 기준으로 데이터프레임 정렬

In [7]:
#전체 열
ndf=df.sort_index(ascending=False)  #행 인덱스의 이름을 기준으로 새롭게 정렬(여기서는 내림차순)
print(ndf)

#특정 열
ndf=df.sort_values(by='c1',ascending=False)  #특정 열의 데이터 값을 기준을 새롭게 정렬
print(ndf)

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13
    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

# 4. 산술연산

# 4.1 시리즈 연산

(1) 시리즈 vs 숫자

In [8]:
student1=pd.Series({'국어':100, '영어':80, '수학':90})  #시리즈 생성
print(student1)

percentage=student1/200
print(percentage)
print(type(percentage))

국어    100
영어     80
수학     90
dtype: int64
국어    0.50
영어    0.40
수학    0.45
dtype: float64
<class 'pandas.core.series.Series'>

(2) 시리즈 vs 시리즈

In [9]:
student1=pd.Series({'국어':100, '영어':80, '수학':90})
student2=pd.Series({'수학':80, '국어':90, '영어':80})

addiction=student1+student2  #인덱스 이름이 같은 것끼리 계산 됨
subtraction=student1-student2
multiplication=student1*student2
division=student1/student2

result=pd.DataFrame([addiction,subtraction,multiplication,division],
                   index=['덧셈','뺄셈','곱셈','나눗셈'])
print(result)

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

In [10]:
student1=pd.Series({'국어':np.nan, '영어':80, '수학':90})  # 국어 데이터 nan
student2=pd.Series({'수학':80, '국어':90})  #두 시리즈 원소 개수 다름

addiction=student1+student2  #인덱스 이름이 같은 것끼리 계산 됨
subtraction=student1-student2
multiplication=student1*student2
division=student1/student2

result=pd.DataFrame([addiction,subtraction,multiplication,division],
                    index=['덧셈','뺄셈','곱셈','나눗셈'])
print(result)

     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN

(3) 연산 메소드

In [11]:
#연산 메소드: add,sub,mul,div
sr_add=student1.add(student2,fill_value=0)
sr_sub=student1.sub(student2,fill_value=0)
sr_mul=student1.mul(student2,fill_value=0)
sr_div=student1.div(student2,fill_value=0)

result=pd.DataFrame([sr_add,sr_sub,sr_mul,sr_div],
                   index=['덧셈','뺄셈','곱셈','나눗셈'])
print(result)

       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf

# 4.2 데이터프레임 연산

(1) 데이터프레임 vs 숫자

In [12]:
import seaborn as sns  #seaborn 라이브러리의 타이타닉 데이터셋 사용
titanic=sns.load_dataset('titanic')
df=titanic.loc[:,['age','fare']]  #타이타닉 데이터셋 중 age와 fare열 사용
print(df.head)

addition=df+10
print(addition.head)

<bound method NDFrame.head of       age     fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]>
<bound method NDFrame.head of       age     fare
0    32.0  17.2500
1    48.0  81.2833
2    36.0  17.9250
3    45.0  63.1000
4    45.0  18.0500
..    ...      ...
886  37.0  23.0000
887  29.0  40.0000
888   NaN  33.4500
889  36.0  40.0000
890  42.0  17.7500

[891 rows x 2 columns]>

(2) 데이터프레임 vs 데이터프레임

In [13]:
print(df.tail())
print(addition.tail())

subtraction=addition-df
print(subtraction.tail())

      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75
      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75
      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0

# PART2. 데이터 입출력

# 1. 외부파일 읽어오기

# 1.1 csv파일

In [14]:
file_path='C:/Users/user/Desktop/쿠글 여름 스터디/2주차 자료/part2/read_csv_sample.csv'
df1=pd.read_csv(file_path)
print(df1)

df2=pd.read_csv(file_path,header=None)  #행을 열 지정하지 않음
print(df2)

df3=pd.read_csv(file_path,index_col=None)  
print(df3)

df4=pd.read_csv(file_path,index_col='c0')  #'c0'열이 행 인덱스
print(df4)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9
    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9
   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9
    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

# 1.2 excel 파일

In [15]:
df1=pd.read_excel('C:/Users/user/Desktop/쿠글 여름 스터디/2주차 자료/part2/남북한발전전력량.xlsx')  #첫 행이 열 이름 구성
df2=pd.read_excel('C:/Users/user/Desktop/쿠글 여름 스터디/2주차 자료/part2/남북한발전전력량.xlsx', header=None)

print(df1)
print(df2)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]
          0       1     2     3     4     5     6     7     8     9   ...  \
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         남한      합계  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      수력    64    51    49    60    41    55    52    54  ...
3        NaN      화력   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     원자력   529   563   565   581   587   670   739   771  ...
5        NaN     신재생     -     -     -     -     -     -     -     -  ...
6         북한      합계   277   263   247   221   231   230   213   193  ...
7        NaN      수력   156   150   142   133   138   142   125   107  ...
8        NaN      화력   121   113   105    88    93    88    88    86  ...
9        NaN     원자력     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

# 1.3 JSON 파일

In [16]:
df=pd.read_json('C:/Users/user/Desktop/쿠글 여름 스터디/2주차 자료/part2/read_json_sample.json')
print(df)
print(df.index)

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True
Index(['pandas', 'NumPy', 'matplotlib'], dtype='object')

# 2. 웹에서 가져오기

# 2.1 HTML 웹 페이지에서 표 속성 가져오기

In [24]:
url='C:/Users/user/Desktop/쿠글 여름 스터디/2주차 자료/part2/sample.html'
tables=pd.read_html(url)

print(len(tables))
for i in range(len(tables)):
    print("tables[%s]" % i)
    print(tables[i])
    
df=tables[1]

df.set_index(['name'],inplace=True)
print(df)

[   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9,          name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True]
2
tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9
tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True
            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

# 4. 데이터 저장하기

# 4.1~4.3 파일로 저장

In [27]:
data={'name': ['Jerry','Rish','Paul'],
     'algol': ["A","A+","B"],
     'basic': ["C","B","B+"],
     'c++':["B+","C","C+"]}
df=pd.DataFrame(data)
df.set_index('name',inplace=True)
print(df)

df.to_csv('C:/Users/user/Desktop/쿠글 여름 스터디/2주차 자료/part2/df_sample1.csv')  #csv 파일로 저장
df.to_json('C:/Users/user/Desktop/쿠글 여름 스터디/2주차 자료/part2/df_sample2.json')  #json 파일로 저장
df.to_excel('C:/Users/user/Desktop/쿠글 여름 스터디/2주차 자료/part2/df_sample3.xlsx')  #excel 파일로 저장

      algol basic c++
name
Jerry     A     C  B+
Rish     A+     B   C
Paul      B    B+  C+

# 4.4 여러개의 df를 하나의 excel 파일로 저장

In [30]:
data1={'name': ['Jerry','Rish','Paul'],
     'algol': ["A","A+","B"],
     'basic': ["C","B","B+"],
     'c++':["B+","C","C+"]}
data2={'c0':[1,2,3],
      'c1':[4,5,6],
      'c2':[7,8,9],
      'c3':[10,11,12],
      'c4':[13,14,15]}

df1=pd.DataFrame(data1)
df1.set_index('name',inplace=True)
df2=pd.DataFrame(data2)
df2.set_index('c0',inplace=True)

print(df1)
print(df2)

      algol basic c++
name
Jerry     A     C  B+
Rish     A+     B   C
Paul      B    B+  C+
    c1  c2  c3  c4
c0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15

In [31]:
writer=pd.ExcelWriter("C:/Users/user/Desktop/쿠글 여름 스터디/2주차 자료/part2/df_excelwriter.xlsx")
df1.to_excel(writer,sheet_name="sheet1")
df2.to_excel(writer,sheet_name="sheet2")
writer.save()